.container{
    width: 1300px;
    margin: auto;
    outline: solid 2px;
}
.tittle-flex{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.banner-flex {
    display: flex;
    width: 100%;
    height: 300px;
}
.about-flex {
    display: flex;
    flex-wrap: wrap;
}
.about-flex .about {
    width: 50%;
    height: 500px;
    outline: solid 2px red;
}
.features-flex {
    display: flex;
    flex-wrap: wrap;
}
.features-flex .feature {
    width: 33.33%;
    height: 300px;
    outline: solid 2px red;
}
.collabrator-flex {
    display: flex;
    flex-wrap: wrap;
}
.collabrator-flex .client {
    width: 16.66%;
    height: 100px;
    outline: solid 2px red;
}